<head>
     <%- include('../partials/head'); -%>
</head>

<header>
   <%- include('../partials/header'); -%>
</header>

<%- include('../partials/navigation'); -%>

<h1><%= topicHead %></h1>

<!-- views/contact.ejs -->
<div class="form-header">
  <h2>Send us a question or message</h2>
</div>
<form method="post" action="/contactsubmit" novalidate>

  <div class="form-field">
    <label for="fname">First Name</label>
    <input class="input" id="fname" name="fname" type="text" value="" />
  </div>
    
   
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>



<footer>
    <%- include('../partials/footer'); -%>
</footer>